<a href="https://colab.research.google.com/github/nocwang/GeospatialAnalysis/blob/main/geopy_find_cities_within_radius_of_a_city.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://simplemaps.com/static/data/us-cities/1.76/basic/simplemaps_uscities_basicv1.76.zip

--2023-03-28 18:17:33--  https://simplemaps.com/static/data/us-cities/1.76/basic/simplemaps_uscities_basicv1.76.zip
Resolving simplemaps.com (simplemaps.com)... 104.26.13.95, 104.26.12.95, 172.67.71.113, ...
Connecting to simplemaps.com (simplemaps.com)|104.26.13.95|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4218789 (4.0M) [application/zip]
Saving to: ‘simplemaps_uscities_basicv1.76.zip’

simplemaps_uscities 100%[===================>]   4.02M  --.-KB/s    in 0.09s

2023-03-28 18:17:33 (45.3 MB/s) - ‘simplemaps_uscities_basicv1.76.zip’ saved [4218789/4218789]

In [3]:
!unzip simplemaps_uscities_basicv1.76.zip

Archive:  simplemaps_uscities_basicv1.76.zip
  inflating: license.txt
  inflating: uscities.csv
  inflating: uscities.xlsx

In [37]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic
import pandas as pd
def get_cities_within_radius(uscities,radius, los_angeles_lat, los_angeles_lon):
    # Use a pandas DataFrame to store the city names and distances
    list_results = []#pd.DataFrame(columns=['city', 'distance'])

    # Loop through all US cities and calculate their distance to Los Angeles
    for city in uscities.itertuples():
        city_lat = city.lat#latitude
        city_lon = city.lng#longitude
        distance = geodesic((los_angeles_lat, los_angeles_lon), (city_lat, city_lon)).miles
        
        # Add the city to the results DataFrame if it's within the radius
        if distance <= radius:
            list_results.append([city.city, distance])

    print(len(list_results))
    return list_results
# Define the radius in miles
radius = 100
uscities=pd.read_csv('uscities.csv')

In [21]:
# different online geo tables may be not consistent, 
# e.g., geopy lat/log may be different from  uscities.csv file ( https://simplemaps.com/data/us-cities )
uscities.query("city=='Los Angeles' & state_id=='CA'")[['lat','lng']]

       lat       lng
1  34.1141 -118.4068

In [22]:
# # Use geopy to get the coordinates of Los Angeles
geolocator = Nominatim(user_agent="my-app")
location = geolocator.geocode("Los Angeles, California")
los_angeles_lat = location.latitude
los_angeles_lon = location.longitude
los_angeles_lat, los_angeles_lon

(34.0536909, -118.242766)

# "city=='Los Angeles' & state_id=='CA'"

In [29]:
los_angeles=uscities.query("city=='Los Angeles' & state_id=='CA'")
los_angeles_lat=los_angeles['lat'].values
los_angeles_lon=los_angeles['lng'].values
list_results=get_cities_within_radius(uscities,radius, los_angeles_lat, los_angeles_lon)

In [31]:
results=pd.DataFrame(list_results, columns=['city', 'distance'])
# Print the cities within the radius, sorted by distance
print(results.sort_values(by='distance')['city'])

0              Los Angeles
134          Beverly Hills
126         West Hollywood
42                 Burbank
112            Culver City
              ...
51              San Marcos
83               Encinitas
181               Rosedale
338             Whitewater
301    Idyllwild-Pine Cove
Name: city, Length: 377, dtype: object

In [32]:
print(results.sort_values(by='distance')['city'].values)

['Los Angeles' 'Beverly Hills' 'West Hollywood' 'Burbank' 'Culver City'
 'Santa Monica' 'Ladera Heights' 'View Park-Windsor Hills'
 'Marina del Rey' 'Glendale' 'Inglewood' 'Topanga' 'San Fernando' 'Lennox'
 'La Crescenta-Montrose' 'Westmont' 'La Cañada Flintridge' 'El Segundo'
 'Vernon' 'Florence-Graham' 'Del Aire' 'Hawthorne' 'Huntington Park'
 'South Pasadena' 'West Athens' 'Walnut Park' 'East Los Angeles'
 'Hidden Hills' 'Calabasas' 'Maywood' 'Manhattan Beach' 'Pasadena'
 'Alhambra' 'Lawndale' 'Bell' 'Alondra Park' 'Gardena' 'Monterey Park'
 'West Rancho Dominguez' 'Altadena' 'Cudahy' 'Willowbrook' 'Commerce'
 'San Marino' 'South Gate' 'Hermosa Beach' 'Bell Canyon' 'San Pasqual'
 'Lynwood' 'Bell Gardens' 'San Gabriel' 'Redondo Beach' 'Santa Susana'
 'Pepperdine University' 'Montebello' 'South San Gabriel' 'Compton'
 'East San Gabriel' 'Rosemead' 'East Pasadena' 'East Rancho Dominguez'
 'Torrance' 'Downey' 'Temple City' 'Pico Rivera' 'Paramount'
 'Agoura Hills' 'Sierra Madre' 'Carson' 'South El Monte' 'West Carson'
 'Oak Park' 'Arcadia' 'Santa Clarita' 'West Whittier-Los Nietos'
 'Stevenson Ranch' 'El Monte' 'North El Monte' 'Rose Hills' 'Simi Valley'
 'Malibu' 'Bellflower' 'Palos Verdes Estates' 'Lomita' 'Mayflower Village'
 'Rolling Hills Estates' 'Santa Fe Springs' 'Norwalk'
 'South Monrovia Island' 'Westlake Village' 'Monrovia' 'Avocado Heights'
 'Whittier' 'Lakewood' 'Rolling Hills' 'Rancho Palos Verdes'
 'South Whittier' 'Baldwin Park' 'Bradbury' 'Artesia' 'Irwindale'
 'Signal Hill' 'West Puente Valley' 'Cerritos' 'Long Beach'
 'Hacienda Heights' 'Duarte' 'La Puente' 'La Mirada' 'Lake Sherwood'
 'East Whittier' 'Thousand Oaks' 'Hawaiian Gardens' 'Agua Dulce'
 'Val Verde' 'Vincent' 'La Palma' 'Valinda' 'La Habra Heights' 'Industry'
 'Azusa' 'Castaic' 'West Covina' 'Buena Park' 'La Habra' 'Acton'
 'Rossmoor' 'Hasley Canyon' 'Moorpark' 'Cypress' 'Los Alamitos'
 'South San Jose Hills' 'Citrus' 'Santa Rosa Valley' 'Covina' 'Piru'
 'Rowland Heights' 'Casa Conejo' 'Seal Beach' 'Charter Oak' 'Fullerton'
 'Walnut' 'Stanton' 'Glendora' 'Brea' 'San Dimas' 'Westminster'
 'Garden Grove' 'Diamond Bar' 'Leona Valley' 'Midway City' 'Fillmore'
 'Somis' 'Placentia' 'Desert View Highlands' 'La Verne' 'Camarillo'
 'Anaheim' 'Huntington Beach' 'Pomona' 'Littlerock' 'Palmdale'
 'Elizabeth Lake' 'Fountain Valley' 'Quartz Hill' 'Lake Hughes'
 'Yorba Linda' 'Claremont' 'Santa Ana' 'Orange' 'Villa Park' 'Sun Village'
 'Chino Hills' 'Montclair' 'Santa Paula' 'Costa Mesa' 'Lancaster'
 'North Tustin' 'Upland' 'San Antonio Heights' 'Tustin' 'Chino' 'Saticoy'
 'El Rio' 'Oxnard' 'Port Hueneme' 'Ontario' 'Newport Beach'
 'Channel Islands Beach' 'Irvine' 'Lake Los Angeles' 'Wrightwood'
 'Rancho Cucamonga' 'San Buenaventura' 'Coronita' 'Eastvale' 'Piñon Hills'
 'Norco' 'Silverado' 'Corona' 'Williams Canyon' 'Laguna Woods'
 'Lytle Creek' 'Lake Forest' 'Modjeska' 'Rosamond' 'Ojai' 'Aliso Viejo'
 'Home Gardens' 'Avalon' 'Laguna Beach' 'Jurupa Valley' 'Fontana'
 'Laguna Hills' 'Meiners Oaks' 'Oak View' 'Mira Monte' 'Phelan'
 'Mission Viejo' 'Trabuco Canyon' 'El Sobrante' 'Rancho Santa Margarita'
 'Laguna Niguel' 'Frazier Park' 'Lebec' 'Bloomington' 'Las Flores'
 'Rialto' 'Ladera Ranch' 'Coto de Caza' 'Temescal Valley' 'Riverside'
 'Lake of the Woods' 'Oak Hills' 'Dana Point' 'San Juan Capistrano'
 'Muscoy' 'Edwards AFB' 'Woodcrest' 'Colton' 'Lake Mathews'
 'Grand Terrace' 'Mojave' 'Highgrove' 'San Bernardino'
 'Rancho Mission Viejo' 'Adelanto' 'Crestline' 'San Clemente' 'Hesperia'
 'Mountain View Acres' 'Carpinteria' 'Pine Mountain Club' 'Loma Linda'
 'Victorville' 'March ARB' 'Mead Valley' 'Mountain Meadows'
 'Lakeland Village' 'Warm Springs' 'Lake Elsinore' 'Stallion Springs'
 'Good Hope' 'Toro Canyon' 'Meadowbrook' 'Tehachapi' 'Lake Arrowhead'
 'Moreno Valley' 'Spring Valley Lake' 'Golden Hills' 'Redlands' 'Highland'
 'Summerland' 'Perris' 'Canyon Lake' 'North Edwards' 'Mettler' 'Montecito'
 'Apple Valley' 'Running Springs' 'Wildomar' 'Bear Valley Springs'
 'Mentone' 'Silver Lakes' 'Boron' 'Romoland' 'Nuevo' 'Menifee' 'Lakeview'
 'Keene' 'Calimesa' 'California City' 'Santa Barbara' 'Arvin'
 'Mission Canyon' 'Yucaipa' 'Homeland' 'Murrieta' 'Edmundson Acres'
 'Winchester' 'Di Giorgio' 'Eastern Goleta Valley' 'Weedpatch'
 'French Valley' 'Cherry Valley' 'Beaumont' 'Oak Glen' 'El Adobe'
 'San Jacinto' 'Camp Pendleton South' 'Lamont' 'Temecula' 'Hemet'
 'Fallbrook' 'University of California-Santa Barbara' 'Isla Vista'
 'Goleta' 'Maricopa' 'Lakeside' 'Fuller Acres' 'Pumpkin Center'
 'Big Bear Lake' 'Banning' 'Rainbow' 'Oceanside' 'East Hemet'
 'Rexland Acres' 'Old River' 'Edison' 'Cuyama' 'Lucerne Valley' 'Fairfax'
 'Tarina' 'Bonsall' 'Taft' 'Valle Vista' 'Cottonwood' 'Casa Loma'
 'Lenwood' 'East Niles' 'Potomac Park' 'Benton Park' 'South Taft'
 'New Cuyama' 'Old Stine' 'Bakersfield' 'Hillcrest' 'Vista' 'Taft Heights'
 'Sage' 'Pala' 'Bakersfield Country Club' 'Big Bear City' 'Olde Stockdale'
 'East Bakersfield' 'Barstow' 'Dustin Acres' 'Ford City' 'Carlsbad'
 'Cabazon' 'La Cresta' 'Valley Acres' 'Goodmanville' 'Hidden Meadows'
 'Randsburg' 'Rivergrove' 'Greenacres' 'Johannesburg' 'Lake San Marcos'
 'Oildale' 'Tupman' 'Fellows' 'San Marcos' 'Encinitas' 'Rosedale'
 'Whitewater' 'Idyllwild-Pine Cove']

In [33]:
results.sort_values(by='distance')

                    city   distance
0            Los Angeles   0.000000
134        Beverly Hills   2.461636
126       West Hollywood   2.677031
42               Burbank   6.975658
112          Culver City   7.486549
..                   ...        ...
51            San Marcos  97.994314
83             Encinitas  98.765903
181             Rosedale  98.917658
338           Whitewater  99.442307
301  Idyllwild-Pine Cove  99.883391

[377 rows x 2 columns]

In [16]:
results.query("city=='Los Angeles'")

          city   distance
0  Los Angeles  10.287403

In [34]:
list_results=get_cities_within_radius(uscities.query("state_id=='CA'"),radius, los_angeles_lat, los_angeles_lon)

377

# "city=='San Francisco' & state_id=='CA'"

In [38]:
sf=uscities.query("city=='San Francisco' & state_id=='CA'")
sf_lat=sf['lat'].values
sf_lon=sf['lng'].values
list_results=get_cities_within_radius(uscities.query("state_id=='CA'"),radius, sf_lat, sf_lon)

437

In [39]:
results=pd.DataFrame(list_results, columns=['city', 'distance'])
print(results.sort_values(by='distance')['city'].values)

['San Francisco' 'Broadmoor' 'Daly City' 'Brisbane' 'Colma'
 'South San Francisco' 'Sausalito' 'Belvedere' 'Marin City' 'Tiburon'
 'San Bruno' 'Alameda' 'Tamalpais-Homestead Valley' 'Strawberry'
 'Emeryville' 'Pacifica' 'Muir Beach' 'Millbrae' 'Alto' 'Mill Valley'
 'Albany' 'Corte Madera' 'Berkeley' 'Burlingame' 'Piedmont' 'Oakland'
 'Larkspur' 'El Cerrito' 'Kensington' 'Kentfield' 'Richmond'
 'Hillsborough' 'Montara' 'East Richmond Heights' 'North Richmond'
 'Stinson Beach' 'San Pablo' 'Ross' 'Rollingwood' 'San Mateo'
 'San Leandro' 'Baywood Park' 'Moss Beach' 'San Rafael' 'El Granada'
 'Orinda' 'Foster City' 'San Anselmo' 'Highlands' 'Santa Venetia'
 'Tara Hills' 'Montalvin Manor' 'San Lorenzo' 'Fairfax' 'Bolinas'
 'Belmont' 'Ashland' 'Pinole' 'Moraga' 'Sleepy Hollow' 'Cherryland'
 'Half Moon Bay' 'Hercules' 'Lafayette' 'Woodacre' 'San Carlos'
 'Lucas Valley-Marinwood' 'San Geronimo' 'Castro Valley' 'Redwood City'
 'Hayward' 'Rodeo' 'Saranap' 'Emerald Lake Hills' 'Alhambra Valley'
 'Fairview' 'Acalanes Ridge' 'Lagunitas-Forest Knolls' 'Reliez Valley'
 'Castle Hill' 'North Fair Oaks' 'Crockett' 'Novato' 'San Miguel'
 'Walnut Creek' 'Pleasant Hill' 'Contra Costa Centre' 'Port Costa'
 'Martinez' 'Alamo' 'Atherton' 'Shell Ridge' 'Black Point-Green Point'
 'Menlo Park' 'Norris Canyon' 'Woodside' 'Nicasio' 'Union City'
 'West Menlo Park' 'Pacheco' 'Vine Hill' 'East Palo Alto' 'Danville'
 'North Gate' 'Benicia' 'Vallejo' 'Diablo' 'Stanford' 'San Ramon' 'Newark'
 'Ladera' 'Concord' 'Portola Valley' 'Clyde' 'Blackhawk' 'Fremont'
 'Palo Alto' 'Dublin' 'Point Reyes Station' 'Camino Tassajara' 'Clayton'
 'American Canyon' 'Inverness' 'Pleasanton' 'Los Altos Hills'
 'Mountain View' 'La Honda' 'Bay Point' 'Sunol' 'Los Altos' 'Loyola'
 'Sunnyvale' 'Loma Mar' 'Temelec' 'Petaluma' 'Pittsburg' 'Pescadero'
 'Sonoma' 'Cupertino' 'El Verano' 'Santa Clara' 'Milpitas' 'Livermore'
 'Green Valley' 'Napa' 'Boyes Hot Springs' 'Antioch' 'Petaluma Center'
 'Fetters Hot Springs-Agua Caliente' 'Penngrove' 'Eldridge' 'Saratoga'
 'Fairfield' 'Suisun City' 'Fruitdale' 'Brentwood' 'Glen Ellen' 'Cotati'
 'Tomales' 'Sonoma State University' 'Campbell' 'Silverado Resort'
 'Rohnert Park' 'East Foothills' 'Alum Rock' 'Monte Sereno' 'Dillon Beach'
 'Oakley' 'Yountville' 'Cambrian Park' 'Bloomfield' 'Byron' 'Los Gatos'
 'San Jose' 'Knightsen' 'Kenwood' 'Boulder Creek' 'Valley Ford' 'Oakville'
 'Discovery Bay' 'Bethel Island' 'Lexington Hills' 'Rutherford'
 'Brookdale' 'Vacaville' 'Sebastopol' 'Mountain House' 'Lompico'
 'Moskowite Corner' 'Santa Rosa' 'Rio Vista' 'Bodega' 'Elmira'
 'Bodega Bay' 'Ben Lomond' 'Zayante' 'St. Helena' 'Occidental'
 'Bonny Doon' 'Graton' 'Salmon Creek' 'Davenport' 'Hartley' 'Mount Hermon'
 'Felton' 'Allendale' 'Isleton' 'Deer Park' 'Scotts Valley' 'Fulton'
 'Tracy' 'Carmet' 'Larkfield-Wikiup' 'Sereno del Mar' 'Forestville'
 'Paradise Park' 'Angwin' 'Pasatiempo' 'Calistoga' 'Windsor' 'Terminous'
 'Monte Rio' 'Santa Cruz' 'Dixon' 'Live Oak' 'Soquel' 'Winters'
 'Day Valley' 'Twin Lakes' 'Guerneville' 'Capitola' 'Jenner'
 'Walnut Grove' 'Pleasure Point' 'Aptos' 'Seacliff' 'Morgan Hill'
 'Lathrop' 'Country Club' 'Courtland' 'Rio del Mar' 'Lincoln Village'
 'Corralitos' 'Stockton' 'Cazadero' 'Healdsburg' 'French Camp'
 'Aptos Hills-Larkin Valley' 'Taft Mosswood' 'Thornton'
 'University of California-Davis' 'San Martin' 'La Selva Beach' 'Hood'
 'Amesti' 'August' 'Freedom' 'Kennedy' 'Manteca' 'Clarksburg' 'Davis'
 'Lodi' 'Interlaken' 'Garden Acres' 'Woodbridge' 'El Macero' 'Morada'
 'Madison' 'Watsonville' 'Esparto' 'Diablo Grande' 'Middletown' 'Brooks'
 'Westley' 'Acampo' 'Monument Hills' 'Timber Cove' 'Gilroy' 'Pajaro Dunes'
 'Pajaro' 'Grayson' 'Geyserville' 'Freeport' 'Tancred' 'Waterloo'
 'Collierville' 'Galt' 'Ripon' 'Hidden Valley Lake' 'Las Lomas' 'Victor'
 'Patterson' 'Woodland' 'West Sacramento' 'Elk Grove' 'Parkway' 'Salida'
 'Aromas' 'Moss Landing' 'Guinda' 'Lemon Hill' 'Lockeford' 'Florin'
 'Linden' 'Herald' 'Fruitridge Pocket' 'Cobb' 'Yolo' 'Elkhorn' 'Dogtown'
 'Sacramento' 'Riverdale Park' 'West Modesto' 'Peters' 'Cloverdale'
 'Castroville' 'Prunedale' 'Vineyard' 'Del Rio' 'Rumsey' 'Crows Landing'
 'Escalon' 'Rouse' 'Modesto' 'Bret Harte' 'Farmington' 'Clay'
 'Monterey Park Tract' 'Lower Lake' 'San Juan Bautista' 'Rosemont'
 'Bystrom' 'Parklawn' 'Cowan' 'Wilton' 'Airport' 'La Riviera' 'Ceres'
 'Knights Landing' 'Arden-Arcade' 'Riverbank' 'Marina' 'Dunnigan'
 'Pacific Grove' 'Clearlake' 'Mather' 'Clearlake Riviera' 'Newman'
 'Valley Home' 'Rio Linda' 'McClellan Park' 'Boronda' 'Empire' 'Hollister'
 'Sand City' 'Keyes' 'Del Monte Forest' 'Seaside' 'Carmichael' 'Elverta'
 'North Highlands' 'Sea Ranch' 'Rancho Cordova' 'Monterey' 'Salinas'
 'Kelseyville' 'Robbins' 'Wallace' 'Gustine' 'Camanche Village' 'Hughson'
 'Del Rey Oaks' 'Oakdale' 'Foothill Farms' 'Carmel-by-the-Sea' 'Soda Bay'
 'Camanche North Shore' 'Clearlake Oaks' 'Ridgemark' 'Gold River'
 'Antelope' 'Turlock' 'Arbuckle' 'College City' 'Spreckels' 'Fair Oaks'
 'East Oakdale' 'Citrus Heights' 'Rancho Calaveras' 'Santa Nella'
 'Hilmar-Irwin' 'Rancho Murieta' 'Hopland' 'Buena Vista' 'Tres Pinos'
 'Denair' 'Nicolaus' 'Ione' 'Lakeport' 'Lucerne' 'Stevinson' 'Orangevale'
 'Valley Springs' 'Waterford' 'Roseville' 'Hickman' 'East Nicolaus'
 'Delhi' 'Folsom' 'Orange Blossom' 'Anchor Bay' 'Trowbridge'
 'North Lakeport' 'Volta' 'Grimes' 'Rio Oso' 'Carmel Valley Village'
 'Chualar' 'Nice' 'Knights Ferry' 'Plumas Lake' 'Rocklin' 'Williams'
 'Livingston' 'Ballico' 'Granite Bay' 'Drytown' 'Martell'
 'El Dorado Hills' 'Sutter Creek' 'Loomis' 'Lincoln' 'Amador City'
 'Plymouth' 'Meridian' 'Copperopolis' 'Jackson']

# input uscities

In [6]:
uscities

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 7503...,1840019440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30839,Ironville,Ironville,PA,Pennsylvania,42013,Blair,40.6586,-78.2155,0,59.2,shape,False,False,America/New_York,3,16686,1840152922
30840,Newkirk,Newkirk,NM,New Mexico,35019,Guadalupe,35.0635,-104.2715,0,0.0,shape,False,False,America/Denver,3,88417,1840024978
30841,Falcon Village,Falcon Village,TX,Texas,48427,Starr,26.5652,-99.1341,0,38.9,shape,False,False,America/Chicago,3,78545,1840018314
30842,Hidden Lakes,Hidden Lakes,OH,Ohio,39117,Morrow,40.5479,-82.7632,0,18.6,shape,False,False,America/New_York,3,43338,1840153068
30843,El Monte Mobile Village,El Monte Mobile Village,CA,California,6107,Tulare,36.5471,-119.4251,0,155.4,shape,False,False,America/Los_Angeles,3,93618,1840153158

In [35]:
uscities.query("city=='San Francisco' & state_id=='CA'")

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
13,San Francisco,San Francisco,CA,California,6075,San Francisco,37.7558,-122.4449,3290197,7199.4,shape,False,True,America/Los_Angeles,1,94130 94131 94132 94133 94134 94103 94102 9410...,1840021543

In [ ]:
uscities.query("city=='Los Angeles' & state_id=='CA'")

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 9003...,1840020491